body {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Saira", sans-serif;
  background: #eceef0;
}

.displayCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.displayStart {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
}
.displayEnd {
  display: flex;
  align-items: center;
  justify-content: end;
}
.displaySpacebetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.displaySpacearound {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.logoImg {
  width: 150px;
}
.MuiBackdrop-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: -1;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.75);
  -webkit-tap-highlight-color: transparent;
  backdrop-filter: blur(2px);
}



.sidebarButton {
  background: #eceef0 !important;
  border-radius: 50px !important;
  width: 92% !important;
  display: flex !important;
  justify-content: flex-start !important;
  padding-left: 20px !important;
  margin-top: 18px !important;
  height: 40px !important;
  color: #021850 !important;
}
.sidebarButton1 {
  color: #eceef0 !important;
  border-radius: 50px !important;
  width: 92% !important;
  display: flex !important;
  justify-content: flex-start !important;
  padding-left: 20px !important;
  margin-top: 18px !important;
  height: 40px !important;
}
::-webkit-scrollbar {
  @media (min-width:1280px){
    display: none;
  }
 
}